body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/hksqkdlah/image/upload/ar_1:1,c_fill,dpr_2.0,f_auto,fl_lossy.progressive.strip_profile,g_faces:auto,q_auto:low,w_344/v1/MEDITERRANEAN%20SEO%20TEST/MediterraneanPyramid_header-03'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-container {
    background: rgba(255, 255, 255, 1);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container .form-group input {
    border-radius: 20px;
}
.form-container .btn {
    border-radius: 20px;
}
.form-container .forgot-password {
    display: block;
    margin-top: 10px;
    text-align: right;
}

